<header class="py-5 hero-section">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Bridging Opportunities for Maximum Profit</h1>
            <p class="lead fw-normal text-white-50 mt-5">Let's Help You Find It</p>

            {% comment %} search bar {% endcomment %}
            <div class="container d-flex justify-content-center mt-4">
                <div class="input-group search-container">
                    <input type="text" class="form-control search-input" placeholder="Search for Anything..." aria-label="Search">
                    <button class="btn btn-gradient search-btn" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</header>

